<div>
    <div class="panel panel-default" ng-repeat="singlePost in userPosts">
        <div class="panel-heading" >
            <ng-post-view single-post="singlePost" user-name="{{userName}}"></ng-post-view>
        </div>
        <div class="panel-body" ng-if="singlePost.bodyVisible">
            <p>
                {{singlePost.body}}
            </p>
        </div>
        <div class="panel-footer" ng-if="singlePost.bodyVisible" ng-repeat="comment in singlePost.comments">
            <h4>{{comment.name}}</h4>
            <h6>{{comment.email}}</h6>
            <p>
                {{comment.body}}
            </p>
        </div>
        <div class="panel-footer" ng-if="singlePost.bodyVisible">
            <a href="#" ng-if="singlePost.bodyVisible" ng-click="singlePost.bodyVisible = false"><<</a>
        </div>
    </div>
</div>
