<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <strong>{{singlePost.title}}</strong>
                <a href="#" ng-if="!singlePost.bodyVisible" ng-click="singlePost.bodyVisible = true">>></a>
                <a href="#" ng-if="singlePost.bodyVisible" ng-click="singlePost.bodyVisible = false"><<</a>
            </div>
            <div class="col-xs-6 col-md-4">Edit | Delete</div>
        </div>
        <div class="row lightblue-text">
            <div class="col-xs-12 col-md-8"> by {{userName}}</div>
            <div class="col-xs-6 col-md-4">
                Comments: {{singlePost.comments.length}}
            </div>
        </div>
    </div>
</div>